//create navigation div
script(type='text/javascript',src='/javascripts/ruser.js')
div(id='reg-box', class='divBox')
	h1(class='titleH1') VPOC User Recovery
	//align this center and put a colored background on it
	form(class='ui-widget regForm')
		label Username:
		input(id='username', value='your_email@juniper.net')
		button(id='recover') Recover
		button(id='reset') Reset